* {
    font-family: FiraCode Nerd Font, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: black;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    margin: 1px;
    padding: 0 2px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid grey;
    border-radius: 0px;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#network,
#memory,
#cpu,
#temperature,
#battery,
#backlight,
#pulseaudio,
#clock,
#tray,
#disk,
#mode {
    padding: 0;
    padding-right: 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: #f53c3c;
}
